## CIT590 HW1 Math Practice

STUDENT DETAILS - edit this text cell to fill in the fields below : 0.5pts

NAME: QIWEN LUO \
PENN ID: 28188168 \
STATEMENT OF WORK: \

Note: Statement of work needs to include information on help and collaboration sought, adhering to the policies drawn for the course and individual assignments.

Print the result of 1.22 multiplied by 49021 : 0.5pts

In [1]:
1.22 * 49021

59805.619999999995

Print the result of 214 divided by 6 : 0.5pts

In [2]:
214 / 6

35.666666666666664

Print the result of 214 divided by 6, discarding the fractional result : 0.5pts

In [3]:
214 // 6

35

Print the result of 3 divided by 0.3 : 0.5pts

In [4]:
3 / 0.3

10.0

Print the remainder of 214 divided by 6 : 0.5pts

In [5]:
214 % 6

4

Print the value of 3 raised to the 11th power : 0.5pts

In [6]:
3 ** 11

177147

Print the nearest integer of 3.5 : 0.5pts

In [7]:
round(3.5)

4

## Data Types Practice

Print the data type of "False" : 0.5pts

In [8]:
type("False")

str

Print the data type of True : 0.5pts

In [9]:
type(True)

bool

Print the data type of the result of 20000 divided by 10 : 0.5pts

In [10]:
type(20000 / 10)

float

Cast the value of 6.3 divided by 3.8 to an integer and print it : 0.5pts

In [11]:
int(6.3 / 3.8)

1

## String Practice

Concatenate and print the strings 'I', 'Love', and 'Python'.  Add a single empty space between the strings : 0.5pts

In [12]:
print("I", "Love", "Python", sep=" ")

I Love Python

Make the following print statement correct:<br />
print("4 % 2 = " + (4 % 2)) : 0.5pts

In [13]:
print('4 % 2 =', 4 % 2)

print('4 % 2 = ' + str(4 % 2))

4 % 2 = 0
4 % 2 = 0

Print the following sentences, (including the double quotes):<br />
Albert Einstein's best quote is "I have no special talent. I am only passionately curious." : 0.5pts

In [14]:
print("Albert Einstein's best quote is \"I have no special talent. I am only passionately curious.\"")

Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

Print the following sentences, (including the backslashes and double quotes):<br />
In Python strings, the backslash (\\) is a special character, also called the "escape" character.<br />
Prefixing a special character (e.g. single quote) with a backslash (\\) turns it into an ordinary character. : 0.5pts

In [15]:
print("In Python strings, the backslash (\\) is a special character, also called the \"escape\" character. \nPrefixing a special character (e.g. single quote) with a backslash (\\\\) turns it into an ordinary character. ")

In Python strings, the backslash (\) is a special character, also called the "escape" character.
Prefixing a special character (e.g. single quote) with a backslash (\\) turns it into an ordinary character.